@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(255, 255, 255, 0.8);
  background-color: #000000;
}

.slide-bottom {
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-bottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.rotateImg {
  animation: rotateImg 25s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    alternate-reverse infinite;
}

@keyframes rotateImg {
  0% {
    transform: scale(1);
  }
  30% {
    filter: contrast(100%);
  }

  50% {
    filter: contrast(130%);
  }

  70% {
    filter: contrast(100%);
  }
  90%{
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
